name: Build docker image

on:
  push:
    branches:
    - master

    tags:
    - '*'

  pull_request:

env:
  RUBY30: 3.0.2
  RUBY27: 2.7.3
  RUBY26: 2.6.7
  RUBY25: 2.5.9
  DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
  DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

jobs:
  ruby30:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: docker/setup-buildx-action@v1
    - uses: ./.github/actions
      with:
        version: ${{ env.RUBY30 }}
        tags: 3.0,3,latest
  ruby27:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: docker/setup-buildx-action@v1
    - uses: ./.github/actions
      with:
        version: ${{ env.RUBY27 }}
        tags: 2.7,2
  ruby26:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: docker/setup-buildx-action@v1
    - uses: ./.github/actions
      with:
        version: ${{ env.RUBY26 }}
        tags: 2.6
  ruby25:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: docker/setup-buildx-action@v1
    - uses: ./.github/actions
      with:
        version: ${{ env.RUBY25 }}
        tags: 2.5
  ### dev
  ruby30-dev:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: docker/setup-buildx-action@v1
    - uses: ./.github/actions
      with:
        version: ${{ env.RUBY30 }}
        dev: 1
        tags: 3.0-dev,3-dev,dev
  ruby27-dev:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: docker/setup-buildx-action@v1
    - uses: ./.github/actions
      with:
        version: ${{ env.RUBY27 }}
        dev: 1
        tags: 2.7-dev,2-dev
  ruby26-dev:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: docker/setup-buildx-action@v1
    - uses: ./.github/actions
      with:
        version: ${{ env.RUBY26 }}
        dev: 1
        tags: 2.6-dev
  ruby25-dev:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: docker/setup-buildx-action@v1
    - uses: ./.github/actions
      with:
        version: ${{ env.RUBY25 }}
        dev: 1
        tags: 2.5-dev
  ### dev-macos
  ruby30-dev-macos:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: docker/setup-qemu-action@v1
      with:
        platforms: linux/amd64,linux/arm64
    - uses: docker/setup-buildx-action@v1
    - uses: ./.github/actions
      with:
        version: ${{ env.RUBY30 }}
        dev: 1
        user_id: 501
        group_id: 20
        tags: 3.0-dev-macos,3-dev-macos,dev-macos
        platform: linux/amd64,linux/arm64
  ruby27-dev-macos:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: docker/setup-qemu-action@v1
      with:
        platforms: linux/amd64,linux/arm64
    - uses: docker/setup-buildx-action@v1
    - uses: ./.github/actions
      with:
        version: ${{ env.RUBY27 }}
        dev: 1
        user_id: 501
        group_id: 20
        tags: 2.7-dev-macos,2-dev-macos
        platform: linux/amd64,linux/arm64
  ruby26-dev-macos:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: docker/setup-qemu-action@v1
      with:
        platforms: linux/amd64,linux/arm64
    - uses: docker/setup-buildx-action@v1
    - uses: ./.github/actions
      with:
        version: ${{ env.RUBY26 }}
        dev: 1
        user_id: 501
        group_id: 20
        tags: 2.6-dev-macos
        platform: linux/amd64,linux/arm64
  ruby25-dev-macos:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: docker/setup-qemu-action@v1
      with:
        platforms: linux/amd64,linux/arm64
    - uses: docker/setup-buildx-action@v1
    - uses: ./.github/actions
      with:
        version: ${{ env.RUBY25 }}
        dev: 1
        user_id: 501
        group_id: 20
        tags: 2.5-dev-macos
        platform: linux/amd64,linux/arm64
